@model OrderCookies.Models.FinalOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FinalOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FinalOrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
